/* body {
    background-color: #f1f1f1;
}

#regForm {
    background-color: #ffffff;
} */


/* Mark input boxes that gets an error on validation: */


/* input.invalid {
    background-color: #fceae1;
}

select.invalid {
    background-color: #fceae1;
}

.tab-one {
    display: none;
}

.tab-two {
    display: none;
} */


/* button {
    background-color: #f39c12;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    font-style: normal;
    cursor: pointer;
} */


/* button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
} */


/* Make circles that indicate the steps of the form: */


/* .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
} */


/* Mark the steps that are finished and valid: */


/* .step.finish {
    background-color: #04AA6D;
} */

.background {
    width: 100%;
    max-height: max-content;
    color: #4b4b4b;
    background-image: url("https://i.ibb.co/f0YS4Yd/charset-Ascii-binary-comment.jpg");
    background-size: 100% 100%;
    position: relative;
}
