.background {
    width: 100%;
    max-height: max-content;
    color: #4b4b4b;
    background-image: url("https://i.ibb.co/f0YS4Yd/charset-Ascii-binary-comment.jpg");
    background-size: 100% 100%;
    position: relative;
}